/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 6rem;
}

.link {
    color : pink;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: pink;
}

.nav-pills .nav-link {
    color: #757575;
}

.display-4 {
    font-size: 2.5rem;
}

.bg-dark {
    background-color: #757575!important;
}